<mat-card dynamicHeight>
    <mat-card-header>
        <mat-card-title>Registro de inventarios</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <mat-radio-group [(ngModel)]="idConcepto">
            <mat-radio-button value="1">Entrada</mat-radio-button>
            <mat-radio-button value="2">Salida</mat-radio-button>
        </mat-radio-group>

        <button class="button-guardar-inventario" mat-raised-button color="primary" type="button" [disabled]="!inventarioCompleto" (click)="guardarInventario()">Guardar</button>
        <button class="button-limpiar-inventario" mat-raised-button color="primary" type="button" (click)="limpiarControlGeneral()">Limpiar</button>
        
        <form [formGroup]="formInventario">
            <mat-form-field class="mat-form-field-razon">
                <textarea matInput placeholder="Razon" required formControlName="razon"></textarea>
            </mat-form-field>
        </form>
        
        <form [formGroup]="form" #frmRepuesto="ngForm" (ngSubmit)="agregarDetalle()">

            <mat-form-field class="mat-form-field-cantidad">
                <input matInput placeholder="Cant" required formControlName="cantidad" type="number">
            </mat-form-field>

            <mat-form-field class="mat-form-field-repuesto">
                <input type="text" placeholder="Seleccione el repuesto" matInput [matAutocomplete]="autoRepuesto" 
                    [formControl]="myControlRepuesto" required formControlName="repuesto">
            </mat-form-field>

            <mat-autocomplete #autoRepuesto="matAutocomplete" [displayWith]="mostrarRepuesto" (optionSelected)="seleccionarRepuesto($event)">
                <mat-option *ngFor="let r of repuestosFiltrados$ | async" [value]="r">
                    {{ r.descripcion }}
                </mat-option>
            </mat-autocomplete>

            <button mat-flat-button color="primary" type="submit" [disabled]="frmRepuesto.invalid">Añadir</button>

        </form>
        <mat-divider></mat-divider>
        <mat-list role="list">
            <mat-list-item *ngFor="let id of inventarioDetalle; let i=index">
                <div mat-line>{{id.repuesto.descripcion}} ({{id.cantidad}})</div>
                <button mat-button color="accent" type="button" (click)="removerDetalle(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </mat-list>

    </mat-card-content>
</mat-card>