.title-container {
    text-align: center;
}

.form-pago-container {
    margin-top: 20px;
}

.mat-form-field-pagoTipo {
    width: 300px;
    margin-right: 20px;
}

.mat-table-facturasPorPagar-container {
    border-style: ridge;
    border-width: 1px;
    width: 440px;
    max-height: 250px;
    overflow: auto;
    margin-bottom: 20px;
}

.mat-table-facturasAPagar-container {
    border-style: ridge;
    border-width: 1px;
    width: 440px;
    max-height: 250px;
    overflow: auto;
    margin-bottom: 20px;
}

.mat-header-cell {
    font-size: 14px;
    justify-content: center!important;
    background-color: blue;
    color: white;
}

.mat-row:hover {
    background-color: aqua;
    cursor: pointer;
}

.form-cheque-container {
    display: none;
}

.form-transaccion-container {
    display: none;
}

.mat-column-fecha {
    flex : 0 0 100px;
    justify-content: center;
}

.mat-column-factura {
    flex : 0 0 95px;
    justify-content: center;
}

.mat-column-servicio {
    flex : 0 0 95px;
    justify-content: center;
}

.mat-column-total {
    flex : 0 0 100px;
    justify-content: flex-end;
}

.mat-form-field-cuentaBancaria {
    display: inline;
}

.mat-form-field-numero {
    width: 300px;
    margin-right: 30px;
}

.mat-form-field-referencia {
    width: 300px;
    margin-right: 30px;
}

.mat-form-field-monto {
    width: 120px;
}

.mat-form-field-fechaEmision {
    width: 150px;
}

.mat-form-field-transaccionEstado {
    display: inline;
}

.mat-form-field-fechaProcesamiento {
    width: 200px;
    margin-right: 30px;
}

.mat-form-field-fechaAprobacion {
    width: 200px;
}